<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="utils.Listeners.TestListener"/>
</listeners>
  <test thread-count="1" name="Verify_Gridview_Checkout">
    <classes>
      <class name="com.swaglabs.testcases.Verify_Gridview_Checkout"/>
    </classes>
    </test> <!-- Test -->
    <test thread-count="1" name="Verify_Listview_Multiple_Products_Checkout">
    <classes>
      <class name="com.swaglabs.testcases.Verify_Listview_Multiple_Products_Checkout"/>
    </classes>
    </test> <!-- Test -->
    <test thread-count="1" name="Verify_Listview_Add_Remove_Checkout">
    <classes>
      <class name="com.swaglabs.testcases.Verify_Listview_Add_Remove_Checkout"/>
    </classes>
    
    </test> <!-- Test -->
    <test thread-count="1" name="Verify_Product_Checkoutpage">
    <classes>
      <class name="com.swaglabs.testcases.Verify_Product_Checkoutpage"/>
    </classes>
    </test> <!-- Test -->
    <test thread-count="1" name="Verify_DragAndDrop">
    <classes>
      <class name="com.swaglabs.testcases.Verify_DragAndDrop"/>
    </classes>    
  </test> <!-- Test -->
</suite> <!-- Suite -->
